body,h1,h2,h3,form,p,ul,li,dl,dt,dd {
	padding:0;
	margin:0;

}

body {
	background:#ccc;
}

div.header {
	width:100%;
	height:40px;
	background-color:white;
	/*border:1px solid #ccc;*/
	margin:0 0 10 0;
}

img	{
	border:none;
}

div.header div.hleft {
	height:100%;
	width:133px;
	/*border:1px solid black;*/
	float:left;
	/*background-color:red;*/
	margin:0 0 0 0;

}
div.hmid span{
	font-size:20px;
	font-weight:bolder;
	line-height: 40px;
	margin:0 0 0 0;

}
div.header div.hmid {
	height:100%;
	float:left;
	margin:0 0 0 0;


}
div.header div.hright {
	height:100%;
	width:29%;
	/*border:1px solid black;*/
	float:right;
	/*background-color:yellow;*/
	margin:0 0 0 0;

}

div.hright table.tab {
	height:40px;
	/*background-color:blue;*/
	width:100%;
	text-align:center;
	border-collapse: collapse;
	font-size:13px;
}

div.hright table.tab tr{
	height:20px;
}

a.head:link {
	text-decoration: none;
	color:#008080;
}
a.head:visited {
	text-decoration: none;
	color:#008080;
}

a.head:hover {
	text-decoration: none;
	color:red;
}


div.mleft {
	width:12%;
	height:600px;
	float:left;
	background-color:white;
	padding:0 0 0 0;
	margin:0 0 10 0;
}

/*
div.mright{
	width:87.5%;
	height:600px;
	float:right;
	background-color:white;
	border:none;
	margin:0 0 10 0;

}*/


div.mleft div.nav {
	margin:0 0 0 0;
	width:99%;
}

div.foot {
	float:left;
	width:100%;
	height:30px;
	padding:10px 0 0 0;
	text-align: center;
	font-size:12px;
	background-color:white;
	color:#ccc;
}

hr.grey {
	width:100%;
	height:8px;
	background:#ccc;
	float:left;
	margin:0 0 0 0;
	border:0;
}


div.mleft {
	width:12%;
	/*height:600px;*/
	float:left;
	background-color:white;
	/*border:1px solid #ccc;*/
	padding:0;
	/*margin:0 100%;*/
	border:none;
}
div.mright{
	width:87.5%;
	/*height:600px;*/
	float:right;
	background-color:#20B2AA;
	/*margin:0 100%;*/
	border:none;
	text-align: center;


}


div.nav {
	margin:15px 0 0 0;
}

div.foot {
	float:left;
	width:100%;
	height:30px;
	padding:10px 0 0 0;
	text-align: center;
	background-color:white;
	padding:9px 0 0 0;
}

div.foot span{
	font-size:13px;
	color:#ccc;

}








