{__NOLAYOUT__}
<layout name='supportlayout' />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/allstatic.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/tcal.css">
<script type="text/javascript" src="__PUBLIC__/js/support/laydate.js"></script>


<script type="text/javascript" src="__PUBLIC__/js/index/tcal.js" ></script>  

<script type="text/javascript">
	function edituser(Form){
		if(Form.password.value=='' || Form.password.value==null){
			alert("密码不能为空");
			Form.password.focus();
			return false;
		}else if(Form.repassword.value=='' || Form.repassword.value==null){
			alert("确认密码不能为空");
			Form.repassword.focus();
			return false;
		}
		document.form1.action="__ROOT__/Support/updateuser";
		document.form1.submit();
	}
</script>

<h2 class='topic'>
<form  action='' method='post' name='form1' >
	<span class='tp'>用户信息</span>
	<button class='user' onclick="return edituser(form1)">确认修改</button>

</h2>
<div class='usertab'>
<volist id='user' name='user'>
			<input type='hidden' name='userid' value="{$user['id']}" />
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white'" onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>用户名</span></td>
			<td class="usertd">
				<span class='dfont'>{$user['user']}</span>		
			</td>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>姓名</span></td>
			<td class="usertd">
				<span class='dfont'>{$user['name']}</span>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>座机</span></td>
			<td class="usertd">
				<input class='cont' name='phone' value="{$user['phone']}" />
			</td>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>手机</span></td>
			<td class="usertd">
				<input class='cont' name='telephone' value="{$user['telephone']}" />
			</td>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>邮箱</span></td>
			<td class="usertd">
				<span class='dfont'>{$user['mail']}</span>
			</td>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>密码</span></td>
			<td class="usertd">
				<input class='contx' type='password' name='password' value="" />
			</td>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>确认密码</span></td>
			<td class="usertd">
				<input class='contx' type='password' name='repassword' value="" />
			</td>
		</tr>
	</table>
	<table  class='user'>
		<tr class='usertr' onmouseover="this.style.background='white' " onmouseout="this.style.background=''">
			<td width='30%' class="usertd"><span class='ufont'>公司</span></td>
			<td class="usertd">
				<input class='contx' name='company' value="{$user['company']}" />
			</td>
		</tr>
	</table>
</volist>
</div>
</form>
