{__NOLAYOUT__}
<layout name='supportlayout' />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/allstatic.css">
<script type="text/javascript">
	function go(){
		document.form1.action="__ROOT__/Support/sTSearch";
		document.form1.submit();
	}


</script>
<script type="text/javascript">
	$(document).ready(function(){ 
		$("#scenter").addClass("bar"); 　　
	}); 

</script>
<h2 class='topic'><span class='tp'>VIP任务</span></h2>
<div class='search'>
	<form action='#' method='post' class='alls' name='form1'>
		<img class='flash' src="__PUBLIC__/image/index/refresh.png" onclick="location.reload();">
		<span class='search'>搜索</span><input type='text' name='applynum' class='search' />
		<button class='submit' onclick="go()">搜索</button>
		<a href="#" class='prompt'>搜索提示</a>
	</form>
</div>
<div class='itt'>
	<table class='tab'>
		<th width='14%'>请求编号</th>
		<th width='10%'>状态</th>
		<th width='25%'>来源</th>
		<th width='15%'>问题类型</th>
		<th width='15%'>分配给</th>
		<th >创建时间</th>
				<volist name='vipm' id='vipm' >
					<tr class='bo' onmouseover="this.style.background='#87CEFA'" onmouseout="this.style.background=''">
					<php>
							if($vipm['ptype']=='硬件问题')
						{
							if($vipm['status']=='已发布'){
								$url='hwiDisplay';
							}else if($vipm['status']=='已接受'){
								$url='hwaDisplay';
							}else if($vipm['status']=='已完成'){
								$url='hwfDisplay';
							}
						}
						else if($vipm['ptype']=='软件问题')
						{
							if($vipm['status']=='已发布'){
								$url='sfiDisplay';
							}else if($vipm['status']=='已接受'){
								$url='sfaDisplay';
							}else if($vipm['status']=='已完成'){
								$url='sffDisplay';
							}

						}
						else if($vipm['ptype']=='资产分配')
						{
							if($vipm['status']=='已发布'){
								$url='ppiDisplay';
							}else if($vipm['status']=='已接受'){
								$url='ppaDisplay';
							}else if($vipm['status']=='已完成'){
								$url='ppfDisplay';
							}

						}
						else if($vipm['ptype']=='会议支持')
						{
							if($vipm['status']=='已发布'){
								$url='cpiDisplay';
							}else if($vipm['status']=='已接受'){
								$url='cpaDisplay';
							}else if($vipm['status']=='已完成'){
								$url='cpfDisplay';
							}

						}
						$applynum=$vipm['applynum'];
						$name=$vipm['name'];

						echo "<td><a href='__ROOT__/Support/$url/applynum/$applynum'>$applynum</a></td>";
					</php>
						<td>{$vipm.status}</td>
						<td>{$vipm.dname}&nbsp{$vipm.subdname}&nbsp{$vipm.name}</td>
						<td>{$vipm.ptype}</td>
						<td>{$vipm.distribute}</td>
						<td>{$vipm.ctime}</td>
						<td>{$vipm.stime}</td>
					</tr>
				
			</volist>
				<tr >
					<td colspan="7">{$page}</td>
				</tr>
	</table>
	
</div>