	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/aDisplay.css">

	<script type="text/javascript">
	function fMission(Form){
		if(Form.grade.value=='none'||Form.grade.value==null)
		{
			window.alert('请进行评价');
			Form.grade.focus();
			return false;
		}
		document.form1.action='/itservice/Index/fMission';
		document.form1.submit();
	}
	</script>
	<title>{$title}</title>
	<form name='form1' method='post'>
	<div id='top'>
			<button onclick="return fMission(form1)">任务完成</button>
			<input type='hidden' name='applynum' value='{$row[0].applynum}' />			
	</div>
	<div id='middle'>
		<h1>服务请求</h1>
 		<table  class='it'>
			<tr>
				<td width='50%'>
					农银人寿保险股份有限公司IT服务台
				</td>
				<td width='50%'>
					接受时间:{$row[0].atime}
				</td>
			</tr>
		</table>
	</div>
	<div id='table'>
		<table>
			<tr>
				<td class='left'><span>姓&nbsp&nbsp名:</span></td>
				<td class='right'>
					{$row[0].name}
				</td>
				<td class='left'><span>电&nbsp&nbsp话:</span></td>
				<td class='right'>
					{$row[0].phone}
				</td>
			</tr>
			<tr>
				<td class='left'><span>所在部门:</span></td>
				<td class='right'>
					{$row[0].dname}
				</td>
				<td class='left'><span>房间号:</span></td>
				<td class='right'>
					{$row[0].room}
				</td>
			</tr>
			<tr>
				<td class='left'><span>所在处室:</span></td>
				<td class='right' >
					{$row[0].subdname}
				</td>
				<td class='left'><span>问题类型:</span></td>
				<td class='right'>
					{$row[0].ptype}
				</td>
			</tr>
			<tr>
				<td class='left'><span>请求编号:</span></td>
				<td class='right'>
					{$row[0].applynum}
				</td>
				
				
				<td class='left'><span>创建人:</span></td>
				<td class='right'>
					{$row[0].creator}
				</td>
			</tr>
			<tr>
				
				<td class='left'><span>评价:</span></td>
				<td class='right'>
					<select name='grade'>
						<option value='none'>进行评价</option>
						<option value='优秀'>优秀</option>
						<option value='良好'>良好</option>
						<option value='不理想'>不理想</option>
					</select>
				</td>
				<td class='left'><span>任务状态:</span></td>
				<td class='right'>
					{$row[0].status}
				</td>
			</tr>
			<tr>
				<td class='left'><span>品牌型号:</span></td>
				<td class='right'>
				{$row[0].brand}
				</td>
				<td class='left'><span>主机序列号:</span></td>
				<td class='right'>
				{$row[0].sn}
				</td>
				
			</tr>
			<tr>
				<td class='left'><span>解决时间:</span></td>
				<td class='right'>
				{$row[0].stime}
				</td>
				<td class='left'><span>解决人:</span></td>
				<td class='right'>
					{$row[0].solver}
				</td>
			</tr>
			<tr>
				<td class='left'><span>维修信息:</span></td>
				<td class='right'>
				{$row[0].fixinfo}
				</td>
				<td class='left'><span>维修总费用:</span></td>
				<td class='right'>
				{$row[0].fixpay}
				</td>
			</tr>
			<tr>
				<td class='left'><span>分配给:</span></td>
				<td class='right'>{$distribute}</td>
				<td class='left'><span>资产编码:</span></td>
				<td class='right'>
				{$row[0].pnum}
				</td>
			</tr>
			<tr>
				<td class='left'><span>故障描述:</span></td>
				<td colspan="3" class='big'>
					{$row[0].tinfo}
				</td>
			</tr>
			<tr>
				<td class='left'><span>故障原因:</span></td>
				<td colspan="3" class='big'>
					{$row[0].treason}
				</td>
			</tr>
			<tr>
				<td class='left'><span>解决方法:</span></td>
				<td colspan="3" class='big'>
					{$row[0].method}
				</td>
			</tr>
		</table>
	</div>
	</form>

