
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/service.css">
	<block name="title"><title>{$title}</title></block>
	<div id='top'>
		
			<button>编辑</button>
			<button>保存</button>
			<button>刷新</button>
			<button>答复</button>
			<button>打印</button>
			<button>退出</button>
			<button>添加到知识库</button>
			<button>到知识库查询</button>	

	</div>
	<div id='middle'>
		<h1>服务请求</h1>
		<ul>
			<li>农银人寿保险股份有限公司IT服务台</li>
			<li>创建时间:2015-03-23 周二 15:22:50</li>
		</ul>
	</div>
	<div id='table'>
		<table>
			<tr>
				<td class='left'><span>姓&nbsp&nbsp名:</span></td>
				<td>
				
				</td>
				<td class='left'><span>电&nbsp&nbsp话:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>所在部门:</span></td>
				<td>
				
				</td>
				<td class='left'><span>房间号:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>所在处室:</span></td>
				<td>
				
				</td>
				<td class='left'><span>品牌型号:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>资产编码:</span></td>
				<td>
				
				</td>
				<td class='left'><span>主机序列号:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>请求编号:</span></td>
				<td>
				
				</td>
				<td class='left'><span>状&nbsp&nbsp态:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>问题类型:</span></td>
				<td>
				
				</td>
				<td class='left'><span>创建人:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>解决时间:</span></td>
				<td>
				
				</td>
				<td class='left'><span>解决人:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>维修信息:</span></td>
				<td>
				
				</td>
				<td class='left'><span>维修总费用:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>分配给:</span></td>
				<td >
					
				</td>
				<td class='left'><span>评价:</span></td>
				<td>
				
				</td>
			</tr>
			<tr>
				<td class='left'><span>故障现象:</span></td>
				<td colspan="3">
					
				</td>
			</tr>
			<tr>
				<td class='left'><span>故障原因:</span></td>
				<td colspan="3">
					
				</td>
			</tr>
			<tr>
				<td class='left'><span>解决方法:</span></td>
				<td colspan="3">
					
				</td>
			</tr>
		</table>
	</div>

