{__NOLAYOUT__}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/optype.css">


<div class='op' >
<table>
			<tr>
				<td class='left'><span>分配原因:</span></td>
				<td class='right'>
					<select name='pptype'>
						<option value='none'>选择资产分配类别</option>
						<option>特许硬件软件安装</option>
						<option>员工入职分配办公用具</option>
						<option>设备损坏更新</option>
						<option>设备报废更新</option>


						
					</select>
				</td>
				<td class='left'><span>PC系统:</span></td>
				<td class='right'>
					<select name='pcos'>
						<option value='none'>选择PC系统</option>
						<option value='Windows 7'>Windows 7</option>
						<option value='Windows XP'>Windows XP</option>
						<option value='Windows Vista'>Windows Vista</option>
						<option value='Windows 8'>Windows 8</option>
						<option value='Windows 8.1'>Windows 8.1</option>
						<option value='Windows 10'>Windows 10</option>
						<option value='其它'>其它</option>
					</select>
				</td>
			</tr>
				<tr>
				<td class='left'><span>品牌型号:</span></td>
				<td class='right'>
				
				</td>
				<td class='left'><span>主机序列号:</span></td>
				<td class='right'>
				
				</td>
				
			</tr>
			<tr>
				<td class='left'><span>解决时间:</span></td>
				<td class='right'>
				
				</td>
				<td class='left'><span>解决人:</span></td>
				<td class='right'>
				
				</td>
			</tr>
			
			
			<tr>
				<td class='left'><span>故障描述:</span></td>
				<td colspan="3" class='big'>
					<input class='pinfo' type='text'  name='tinfo' />
				</td>
			</tr>
			<tr>
				<td class='left'><span>故障原因:</span></td>
				<td colspan="3" class='big'>
					
				</td>
			</tr>
			<tr>
				<td class='left'><span>解决方法:</span></td>
				<td colspan="3" class='big'>
					
				</td>
			</tr>
</table>
</div>





