
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/home/distMission.css">
<script type="text/javascript" src="__PUBLIC__/js/disMission.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index/pptype.js"></script>
<style type="text/css">
	#p{
		border:1px solid blue;
	}


</style>
<script type="text/javascript">
	$(document).ready(function(){ 
		$("#sum").addClass("bar"); 　　
	}); 
</script>

<style type="text/css">
	input.brand{
		width:60%;
	}
	input.sn{
		width:60%;
	}
</style>
<title>{$title}</title>
	<form name='form1' method='post' enctype='multipart/form-data'>
	<div id='top'>
<!-- 				<button onclick="finish()">任务完成</button>
				<button onclick="change()">转交他人</button>
 -->	</div>
	<input type='hidden' name='ptype' value='{$row[0].ptype}' />
	<input type='hidden' name='applynum' value='{$applynum}' />

	<div id='middle'>
		<h1>资产分配服务请求</h1>
		<table  class='it'>
			<tr>
				<td width='50%'>
					农银人寿保险股份有限公司IT服务台
				</td>
				<td width='50%'>
					发布时间:{$row[0].ctime}
				</td>
			</tr>
		</table>
	</div>
	<div id='table'>
		<table class='dist'>
			<tr>
				<td class='left'><span>姓&nbsp&nbsp名:</span></td>
				<td class='right'>
				{$row[0].name}
				</td>
				<td class='left'><span>电&nbsp&nbsp话:</span></td>
				<td class='right'>
				{$row[0].phone}
				</td>
			</tr>
			<tr>
				<td class='left'><span>所在部门:</span></td>
				<td class='right'>
				{$row[0].dname}
				</td>
				<td class='left'><span>所在位置:</span></td>
				<td class='right'>
				{$row[0].tp}
				</td>
			</tr>
			<tr>
				<td class='left'><span>所在处室:</span></td>
				<td class='right' >
				{$row[0].subdname}
				</td>
				<td class='left'><span>问题类型:</span></td>
				<td class='right'>
				{$row[0].ptype}
				</td>
			</tr>
			<tr>
				<td class='left'><span>请求编号:</span></td>
				<td class='right'>
					{$row[0].applynum}
					<input type='hidden' name='applynum' value='{$applynum}' />
				</td>
				
				
				<td class='left'><span>创建人:</span></td>
				<td class='right'>
					{$row[0].creator}
					<input type='hidden' name='creator' value='{$Think.session.name}' />
				</td>
			</tr>
			<tr>
				
				<td class='left'><span>分配给:</span></td>
				<td class='right'>
				{$row[0].distribute}
				</td>
				<td class='left'><span>任务状态:</span></td>
				<td class='right'>
				{$row[0].status}
				</td>
			</tr>
			

			<tr>
				<td class='left'><span>分配原因:</span></td>
				<td class='right'>
				{$row[0].distreason}
				</td>
				<td class='left'><span>解决人:</span></td>
				<td class='right'>
				{$row[0].solver}
				</td>
			
				
			</tr>
			<tr >
				<td class='left' ><span>资产类别:</span></td>
				<td  colspan="3" class='right'>
					{$row[0].protype}
				</td>
			</tr>
				<tr>
				<td class='left'><span>型号/版本:</span></td>
				<td class='right'>
				{$row[0].brand}
				</td>
				<td class='left'><span>SN/KEY:</span></td>
				<td class='right'>
				{$row[0].sn}
				</td>
				
			</tr>
			<tr>
				<td class='left'><span>接受时间:</span></td>
				<td class='right'>
				{$row[0].atime}
				</td>
				<td class='left'><span>解决时间:</span></td>
				<td class='right'>
					{$row[0].stime}
				</td>
			</tr>
			<tr>
				<td class='left'><span>服务单:</span></td>
				<td class='right' colspan="3">
				<a href="{$row[0].sfurl}">查看服务单</a>
				</td>
			</tr>
			
			
			
</table>
</div>
</form>





