<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/allstatic.css">
<script type="text/javascript">
	function go(){
		document.form1.action="__ROOT__/Index/sTSearch";
		document.form1.submit();
	}


</script>
<script type="text/javascript">
	$(document).ready(function(){ 
		$("#sum").addClass("bar"); 　　
	}); 

</script>
<h2 class='topic'><span class='tp'>临时保存的任务</span></h2>
<div class='search'>
	<form action='#' method='post' class='alls' name='form1'>
		<img class='flash' src="__PUBLIC__/image/index/refresh.png" onclick="location.reload();">
		<span class='search'>搜索</span><input type='text' name='applynum' class='search' />
		<button class='submit' onclick="go()">搜索</button>
		<a href="#" class='prompt'>搜索提示</a>
	</form>
</div>
<div class='itt'>
	<table class='tab'>
		<th width='14%'>请求编号</th>
		<th width='10%'>状态</th>
		<th width='25%'>来源</th>
		<th width='15%'>问题类型</th>
		<th width='15%'>分配给</th>
		<th >创建时间</th>
				<volist name='psm' id='psm' >
					<tr class='bo' onmouseover="this.style.background='#87CEFA'" onmouseout="this.style.background=''">
					<php>
						if($psm['ptype']=='硬件问题')
						{
								$url='hwtDisplay';
						}
						else if($psm['ptype']=='软件问题')
						{
							
								$url='sftDisplay';

						}
						else if($psm['ptype']=='资产分配')
						{
								$url='pptDisplay';

						}
						else if($psm['ptype']=='会议支持')
						{
								$url='cptDisplay';

						}
						$applynum=$psm['applynum'];

					echo "<td><a href='__ROOT__/Index/$url/applynum/$applynum'>$applynum</a></td>";
					</php>
						<td>{$psm.status}</td>
						<td>{$psm.dname}&nbsp{$psm.subdname}&nbsp{$psm.name}</td>
						<td>{$psm.ptype}</td>
						<td>{$psm.distribute}</td>
						<td>{$psm.ctime}</td>
					</tr>
				
			</volist>
				<tr >
					<td colspan="7">{$page}</td>
				</tr>
	</table>
	
</div>