<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/allstatic.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/tcal.css">
<script type="text/javascript" src="__PUBLIC__/js/support/laydate.js"></script>


<script type="text/javascript" src="__PUBLIC__/js/index/tcal.js" ></script>  

<script type="text/javascript">
	function custom(Form){
		if(Form.start.value=="" || Form.start.value==null){
			alert("请输入起始时间");
			Form.start.focus();
			return false;
		}else if(Form.end.value=="" || Form.end.value==null){
			alert("请输入终止时间");
			Form.end.focus();
			return false;
		}

		document.form1.action="__ROOT__/Index/sCSearch";
		document.form1.submit();
	}
	function imports(Form){
		if(Form.start.value=="" || Form.start.value==null){
			alert("请输入起始时间");
			Form.start.focus();
			return false;
		}else if(Form.end.value=="" || Form.end.value==null){
			alert("请输入终止时间");
			Form.end.focus();
			return false;
		}else if(Form.name.value=="none"){
			alert("请选择执行人");
			Form.name.focus();
			return false;
		}

		document.form1.action="__ROOT__/Index/impStatic";
		document.form1.submit();
	}

</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#static').addClass('bar');
	});

</script>
<h2 class='topic'><span class='tp'>自定义统计</span></h2>
<div class='search'>
	<form action='#' method='post' class='alls' name='form1'>
		<span class='start'>起始时间</span>
		<input type="text" name="start" class="tcal" id='startt' value="" />
		<span class='start'>结束时间</span>
		<input type="text" name="end" class="tcal" id='startt' value="" />

		<select name="ptype" id="ptypes">
			<option value="none">选择问题类别</option>
			<option value="硬件问题">硬件问题</option>
			<option value="软件问题">软件问题</option>
			<option value="资产分配">资产分配</option>
			<option value="会议支持">会议支持</option>
		</select>
		<select name="name" class="user">
			<option value="none">选择执行人</option>
			<volist name='user' id='user'>
				<option value="{$user['name']}">{$user['name']}</option>
			</volist>
		</select>	
		<button class='submit2' onclick="return custom(form1)">搜索</button>
		<button class='submit2' onclick="return imports(form1)">导出统计</button>
	</form>
</div>
<div class='itt'>
	<table class='tab'>
		<th width='12%'>请求编号</th>
		<th width='8%'>状态</th>
		<th width='20%'>来源</th>
		<th width='12%'>问题类型</th>
		<th width='10%'>执行人</th>
		<th width='18%'>创建时间</th>
		<th width='18%'>完成时间</th>
			<volist name='time' id='time'>
					<tr class='bo' onmouseover="this.style.background='#87CEFA'" onmouseout="this.style.background=''">
					<php>
						$applynum=$time['applynum'];
						if($time['ptype']=='硬件问题')
						{
							if($time['step']=='finish'){
								$url='hwfDisplay';
							}else if($time['step']=='accept'){
								$url='hwaDisplay';
							}
						}
						else if($time['ptype']=='软件问题')
						{
							if($time['step']=='finish'){
								$url='sffDisplay';
							}else if($time['step']=='accept'){
								$url='sfaDisplay';
							}

						}
						else if($time['ptype']=='资产分配')
						{
							if($time['step']=='finish'){
								$url='ppfDisplay';
							}else if($time['step']=='accept'){
								$url='ppaDisplay';
							}

						}
						else if($time['ptype']=='会议支持')
						{
							if($time['step']=='finish'){
								$url='cpfDisplay';
							}else if($time['step']=='accept'){
								$url='cpaDisplay';
							}

						}
						

					echo "<td><a href='__ROOT__/Index/$url/applynum/$applynum'>$applynum</a></td>"
					</php>
						<td>{$time.status}</td>
						<td>{$time.dname}&nbsp{$time.name}</td>
						<td>{$time.ptype}</td>
						<td>{$time.solver}</td>
						<td>{$time.ctime}</td>
						<td>{$time.stime}</td>
					</tr>
				
			</volist>
				<tr >
					<td colspan="7">{$page}</td>
				</tr>
	</table>
	<!-- <table>
		<tr>
			<td width='12%'>未完成任务:</td>
			<td width='6%'>{$unfn}个</td>
			<td width='20%'></td>
			<td width='12%'></td>
			<td width='18%'></td>
			<td width='18%'></td>
			<td width='12%'></td>
		</tr>
		<tr>
			<td>共完成任务:</td>
			<td>{$fn}个</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>完成率:</td>
			<td>{$rate}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

	</table> -->
</div>