<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/service/servicePhone.css">
<script type="text/javascript">
	$(document).ready(function(){ 
		$("#sum").addClass("bar"); 　　
	}); 
</script>


<div class='ptop'>
	<span>任务汇总</span>
</div>
<div id='pleft'>
	<ul class='sp'>
		<li><span class='li'>VIP的任务(<a  href="__ROOT__/Index/vipMission">{$vipmnum}</a>)</span></li>
		<li><span class='li'>曾经保存的任务(<a  href="__ROOT__/Index/psMission">{$psmnum}</a>)</span></li>
		<li><span class='li'>已经发布的任务(<a  href="__ROOT__/Index/hiMission">{$himnum}</a>)</span></li>
		<li><span class='li'>已经接受的任务(<a  href="__ROOT__/Index/haMission">{$hamnum}</a>)</span></li>
		<li><span class='li'>已经完成的任务(<a  href="__ROOT__/Index/hfMission">{$hfmnum}</a>)</span></li>


    </ul>

</div>


