<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index/allstatic.css">
<script type="text/javascript">
	function go(Form){
		if(Form.applynum.value=="" || Form.applynum.value==null){
			alert("请输入请求编号或者请求人名字");
			Form.applynum.focus();
			return false;
		}
		document.form1.action="__ROOT__/Index/sTSearch";
		document.form1.submit();
	}

</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#static').addClass('bar');
	});

</script>
<h2 class='topic'><span class='tp'>搜索得到的任务</span></h2>
<div class='search'>
	<form action='#' method='post' class='alls' name='form1'>
		<img class='flash' src="__PUBLIC__/image/index/refresh.png" onclick="location.reload();">
		<span class='search'>搜索</span><input type='text' name='applynum' class='search' />
		<button class='submit' onclick="return go(form1)">搜索</button>
		<a href="#" class='prompt'>搜索提示</a>
	</form>
</div>
<div class='itt'>
	<table class='tab'>
		<th width='12%'>请求编号</th>
		<th width='8%'>状态</th>
		<th width='20%'>来源</th>
		<th width='12%'>问题类型</th>
		<th width='10%'>执行人</th>
		<th width='18%'>创建时间</th>
		<th width='18%'>完成时间</th>
			<volist name='apm' id='apm' >
					<tr class='bo' onmouseover="this.style.background='#87CEFA'" onmouseout="this.style.background=''">
					<php>
						if($apm['ptype']=='硬件问题')
						{
							if($apm['status']=='已发布'){
								$url='hwiDisplay';
							}else if($apm['status']=='已接受'){
								$url='hwaDisplay';
							}else if($apm['status']=='已完成'){
								$url='hwfDisplay';
							}
						}
						else if($apm['ptype']=='软件问题')
						{
							if($apm['status']=='已发布'){
								$url='sfiDisplay';
							}else if($apm['status']=='已接受'){
								$url='sfaDisplay';
							}else if($apm['status']=='已完成'){
								$url='sffDisplay';
							}

						}
						else if($apm['ptype']=='资产分配')
						{
							if($apm['status']=='已发布'){
								$url='ppiDisplay';
							}else if($apm['status']=='已接受'){
								$url='ppaDisplay';
							}else if($apm['status']=='已完成'){
								$url='ppfDisplay';
							}

						}
						else if($apm['ptype']=='会议支持')
						{
							if($apm['status']=='已发布'){
								$url='cpiDisplay';
							}else if($apm['status']=='已接受'){
								$url='cpaDisplay';
							}else if($apm['status']=='已完成'){
								$url='cpfDisplay';
							}

						}
						$applynum=$apm['applynum'];
						$name=$apm['name'];

						echo "<td><a href='__ROOT__/Index/$url/applynum/$applynum'>$applynum</a></td>";
					</php>
						<td>{$apm.status}</td>
						<td>{$apm.dname}&nbsp{$apm.name}</td>
						<td>{$apm.ptype}</td>
						<td>{$apm.solver}</td>
						<td>{$apm.ctime}</td>
						<td>{$apm.stime}</td>
					</tr>
				
			</volist>
				<tr >
					<td colspan="7">{$page}</td>
				</tr>
	</table>
</div>