div.pp{
	width:100%;
	/*height:200px;*/
	background:white;
	border:2px solid #ccc;
}


div.pp table {
	width:100%;
	/*height:100%;*/
	/*border:1px solid black;*/
	border-collapse: collapse;
}

div.pp table tr{
	height:25px;
}

div.pp table td{
	border:1px solid #ccc;
}
div.pp table td.left{
	width:10%;
	text-align: center;
	color:#0000CD;

}

div.pp table td.left span{
	float:right;
	margin-right: 10px;
}

div.pp table td.right {
	width:40%;
	padding:0 0 0 15px;
}

div.pp table td.big {
	padding:0 0 0 15px;
}

div.pp table td.big input.pinfo{
	width:90%;
}


table.it{
	width:100%;
	text-align:center;
}

table.it tr{
	line-height:25px;
}

