<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>{$title}</title>
	<meta charset='utf-8' />
	<meta name='creator' content='DuBin' />
	<meta name='generater' content="ThinkPHP" />
	<meta name='create_time' content="2015-04-02 00:21" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/service/header.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/service/leftnav.css">
	<script type="text/javascript" src='__PUBLIC__/js/jquery-1.9.1.min.js'></script>
	<script type="text/javascript">
		$(function(){
		$(".subNav").click(function(){
					$(this).toggleClass("currentDd").siblings(".subNav").removeClass("currentDd")
					$(this).toggleClass("currentDt").siblings(".subNav").removeClass("currentDt")
					
					// 修改数字控制速度， slideUp(500)控制卷起速度
					$(this).next(".navContent").slideToggle(200).siblings(".navContent").slideUp(200);
			})	
		})

	</script>
	<!-- background:url('__PUBLIC__/image/service/jiantou1.jpg') no-repeat; -->
	<!-- background-position:95% 50%; -->
	<style type="text/css">
		.subNavBox{width:99%;border:solid 1px #48D1CC;margin:100px auto;}
		.subNav{border-bottom:solid 1px #48D1CC;cursor:pointer;font-weight:bold;font-size:14px;color:white;line-height:28px;padding-left:10px;background:url("__PUBLIC__/image/service/navbg.png");}
		.subNav:hover{color:yellow;}
		.currentDd{color:yellow}
		/*.currentDt{background-image:url("__PUBLIC__/image/service/jiantou.jpg");}*/
		.navContent{display: none;border-bottom:solid 1px #e5e3da;}
		.navContent li a{display:block;width:100%;height:28px;text-align:center;font-size:14px;line-height:28px;color:#333}
		.navContent li a:hover{color:#fff;background-color:#20B2AA;}
	</style>
	<script type="text/javascript">
		function chheight(){
			var width = document.body.clientWidth;
			var height = document.body.clientHeight;
			mleft = document.getElementById('blockmleft');
			mright = document.getElementById('blockmright');
			mleft.style.height=height-95;
			mright.style.height=height-95;
		}

	</script>

</head>
<body onload="return chheight()">
<!-- 	<div class='all'>
 -->	<div class='header'>
		<div class='hleft'>
			<img src="__PUBLIC__/image/service/abc.png">
		</div>
		<div class='hmid'>
			<span>XXXXIT服务台系统</span>
		</div>
		<div class='hright'>
			<table class='tab'>
				<tr>
					<td width='25%'>你好,{$Think.session.name}</td>
					<td width='25%'><a class='head' href="#">[使用须知]</a></td>
					<td width='25%'><a class='head' href="__APP__/Index/servicePhone">[返回首页]</a></td>
					<td width='25%'><a class='head' href="{:U('/Home/Public/logout')}">[退出系统]</a></td>
				</tr>
				<tr>
					<td colspan="2">版本号:V1.0</td>
					<td colspan="2">发布时间:2015年4月1日</td>
				</tr>
			</table>
		</div >
			

	</div>

	<div class='mleft' id='blockmleft'>
		<div class="subNavBox nav">
			<div class="subNav currentDd currentDt">it任务中心</div>
			<ul class="navContent " style="display:block">
					<li><a href="__ROOT__/Index/distMission">任务分配</a></li>
					<li><a href="#">添加信息1</a></li>
					<li><a href="#">添加信息</a></li>
					<li><a href="#">添加信息</a></li>
			</ul>
			<div class="subNav">完成任务</div>
			<ul class="navContent">
					<li><a href="__ROOT__/Index/test1">完成任务</a></li>
					<li><a href="#">添加信息</a></li>
					<li><a href="#">添加信息</a></li>
					<li><a href="#">添加信息</a></li>
			</ul>
			<div class="subNav">反馈统计</div>
			<ul class="navContent">
					<li><a href="__ROOT__/Index/test2">添加信息</a></li>
					<li><a href="#">添加信息</a></li>
					<li><a href="#">添加信息</a></li>
			</ul>
			<div class="subNav">关于我们</div>
			<ul class="navContent">
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">新闻管理</a></li>
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">新闻管理</a></li>
			</ul>
			
			<div class="subNav">xxxxx</div>
			<ul class="navContent">
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">新闻管理</a></li>
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">新闻管理</a></li>
			</ul>
			<div class="subNav">xxxxx</div>
			<ul class="navContent">
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">新闻管理</a></li>
					<li><a href="#">添加新闻</a></li>
					<li><a href="#">新闻管理</a></li>
			</ul>
		</div>
	</div>
	</div>
	<div class='mright' id='blockmright'>
		{__CONTENT__}
	</div>
	<div class='foot'>
	<span>版权所有 DAVID_DU.All Rights Reserved</span>
	</div>
	</body>
	
	
	</html>

